* {
    margin: 0;
    padding: 0;
}
/* body{
    font-family: Georgia,"Times New Roman",Times,serif;
} */
.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* header */

.ads {
    margin-top: 40px;
    margin-bottom: 80px;
}

.infor_arrow_down {
    color: red;
}

.infor_arrow_up {
    color: green;
}

.info_header {
    background-color: black;
    color: white;
    margin-top: 20px;
}

/* setting text in info_block in one line */

/* .info_block {
    padding-top: 10px;
    border-right: 2px solid white;
    box-sizing: unset;
    width: 12%;
}

.navbar-nav>li {
    padding-right: 36px;
    font-size: 14px;
    font-weight: bold;
}
.navbar-nav>li:last-child {
    font-size: 14px;
    padding-right: 0px;
    font-weight: bold;
} */


 .main_title {
    font-size: 30px;
}

.cloud {
    height: 40px;
    width: 100px;
}

.main_weather {
    margin-top: 5%;
}

.main_date {
    padding-left: 56px;
}

.main_header {
    margin-top: 50px;
}
.container.navbar_custom{
    padding-left: 0px;
} 

/* search form header */
.primary-menu>li>a.btn_home{
    padding-left:0px;
}

/* .search_form {
    background-color: #06755bb8;
    height: 46px;
    padding-top: 6px;
}

.seach_icon {
    background-color: white;
    height: 38px;
    width: 38px;
    text-align: center;
    padding-top: 4px;
    color: green;
    border-radius: 22%;
}

input#search {
    height: 30px;
    padding-top: 7px;
    border-radius: 10px;
    border: none;
    background-color: #41b3a7;
    padding-left: 14px;
}

a.social_icon {
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 2.5em;
}

.search_left{
    padding-left: 0px;
}
.social_right{
    padding-right: 0px;
}
a.social_icon.fa.fa-youtube{
    padding-right: 0px;
} */


/* geopolitics block */ 
.flex-row.row {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
 .flex-row.row:after, 
 .flex-row.row:before {
    display: flex;
 }
.geopolitics{
    margin-bottom: 80px;
}
.geo_img_top{
    margin-bottom: 40px;
}
.geo_img,
.geo_img_2,
.geo_img_3,
.geo_img_4,
.geo_img_5{
    max-height: 100%;
    max-width: 100%;
}
.geo_new_up{
    padding-left: 0px;
}
hr.border_bot {
    width: 73%;
    border-top: 2px solid #80808087;
}
.geo_new_down{
    padding-right: 0px;
}
.geo_new{
    margin-top: 20px;
    margin-bottom: 20px;
}
img.geo_img_2 {
    height: 225px;
    width: 100%;
}
/* hover content geo */
.geo_content{
    position: relative;
    overflow: hidden;
}
.geo_context {
    background-color:#337ab7b0;
    width: 50%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -999px;
    transition: all 0.5s ease-in-out;
    color: white;
    padding-right: 10px;
}
.geo_content:hover .geo_context{
    left: 0px;
}
/* end hover content geo */
.geo_content_title{
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* same height for all column */
.equal_col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  .equal_col > [class*='col-'] {
       display: flex;
       flex-direction: column;
  }
  /* market block */
.vertical_text.ver_market_text{
      top:86px;
  }
/* opinion block */

.opinion {
    margin-top: 80px;
}
.opinion_block1{
    position: relative;
}
.vertical_text {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 0px;
    margin-bottom: 0px;
    right: 0;
    font-weight: bold;
    font-size: 37px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 146px;
}
.read_more{
    position: absolute;
    background-color: black;
    border: none;
    border-radius: 16px;
    height: 25px;
    line-height: 12px;
    color: white;
    bottom: 0px;
    left:0px;
}


.opinion_img img {
    height: 212px;
    width: 100%;
}
.vertical_text.ver_opinion_text{
    top:86px;
}

/* div for rectangle image become circle */

.opinion_img_circle {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
}

.opinion_img_circle img {
    width: auto;
    height: 100%;
}

/* energy block */
.energy{
    margin-top:80px;
}
.energy_img{
    max-width: 100%;
    max-height: 100%;
}
.energy_img {
    margin-bottom: 40px;
}
.space{
    padding-left:9px;
}
.vertical_text.ver_energy_text{
    right:25px;
    top: 174px;
}
.ener_title{
    margin-top: 10px;
}
.energy_block2{
    height: 320px;
}
/* technology */
.technology {
    margin-top: 80px;
}

/* footer */
.extra-zone {
    margin-top: 80px;
}
.footer .row-footer,
.footer-widgets{
    border-top: 3px dotted black;
}
.white-container{
    padding-left:0px;
    padding-right:0px;
}